Are there any Ancestry Informative Markers identified in Ag1000g overlapping the amplicon positions?

None

In [1]:
import pandas as pd

In [2]:
PANEL = '../../data/panel_64.csv'
AIMS = 'data/Neafsey_top_MS_allele_freqs.2.txt'

In [3]:
panel = pd.read_csv(PANEL)
panel.columns

Index(['Primary_ID', 'ID', 'SeekDeep_ID', 'SNP', 'F', 'R', 'chr', 'start',
       'end', 'F_deg', 'R_deg', 'identical_seq', 'idenified_lineages',
       'aligned_spp', 'unaligned_spp', 'aligned_ampl_length',
       'agam_ampl_length', 'aligned_insert_length', 'agam_insert_length',
       'total_snvs', 'total_indels', 'insert_snvs', 'insert_indels',
       'prop_id_lineages', 'exon', 'gene', 'intron', 'mRNA', 'repeat', 'utr',
       'AaegL5_identity', 'AaegL5_q_span', 'AaegL5_s_span', 'AgamP3_identity',
       'AgamP3_q_span', 'AgamP3_s_span', 'BDGP6_identity', 'BDGP6_q_span',
       'BDGP6_s_span', 'CpipJ2_identity', 'CpipJ2_q_span', 'CpipJ2_s_span',
       'Comments', 'Outgroup ampl'],
      dtype='object')

In [4]:
aims = pd.read_csv(AIMS, sep='\t', header=None)
aims.columns = ['id','chr','pos','ref','alt','freq1','freq2','freq3']
aims.head()

            id chr     pos ref alt     freq1  freq2     freq3
0  rs180290715  2L  181564   A   G  0.029412    1.0  0.970588
1  rs180290738  2L  210286   T   G  0.972222    0.0  0.972222
2  rs180290751  2L  356421   T   C  1.000000    0.0  1.000000
3  rs180290761  2L  441325   A   C  0.000000    1.0  1.000000
4  rs180290764  2L  456831   T   G  1.000000    0.0  1.000000

In [5]:
aim_in_ampls = []
for _, r in panel.iterrows():
    aim_in_ampl = aims[(aims.chr == r.chr) &
                       (aims.pos > r.start) &
                       (aims.pos < r.end)]
    aim_in_ampl['Primary_ID'] = r.Primary_ID
    aim_in_ampls.append(aim_in_ampl)
pd.concat(aim_in_ampls)

Empty DataFrame
Columns: [id, chr, pos, ref, alt, freq1, freq2, freq3, Primary_ID]
Index: []